@import "../utils/variables";

header {
	h1 {
		@extend .nombre-cafeteria;
		padding: 20px;
		font-size: 60px;
		line-height: 50px;

		a {
			@extend .etiqueta-link;
		}
	}
}
.navbar {
	button {
		margin-left: 5px;
		border: none;
	}
}
.navbar-collapse {
	a {
		margin-left: 15px;
	}
}
.nav-style {
	font-family: karla;
	margin-left: 20px;
}
.nav-link {
	&:hover {
		text-decoration: underline 2px;
		color: #2A2B2B;
		cursor: pointer;
	}
}
#actual-page-navbar {
	text-decoration: underline 2px;
}
.actual-page-name {
	text-align: center;
	text-decoration: underline;
	color: $colorAzul;
	font-family: karla;
}

@media screen and (min-width:800px) {
  .actual-page-name, .main-img-mobile {
    display: none;
  }
}