@import "../utils/variables";
@import "../utils/_global.scss";

.newsletter__container {
  @include noserif-text ($colorAzul);
  display: block;
  margin: 30px auto;
  width: 80%;

  h3 {
    @include serif-titles ($colorOscuro);
  }

  a {
    @extend .button-send;
  }

  .mb-1 {
    margin: auto;
  }

  &-map {
    display: block;
    width: 80%;
    height: 300px;
    margin: auto;
  }
}

@media screen and (min-width:$bpMedium) {
  .newsletter__container {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 60px auto auto auto;
    grid-template-areas: 
    "h3 h2"
    "p map"
    "input map"
    "button map";
    margin: 40px auto;
    row-gap: 10px;
    max-width: $bpLarge;
  

   &-title {
    grid-area: h3;
   }

   &-descrip {
    grid-area: p;
    font-size: 20px;
    margin: auto;
   }
   
   &-titlemap{
    grid-area: h2;
    margin: auto;
   }

   .mb-1 {
    grid-area: input;
    max-width: 500px;
    margin: 10px;
   }

   &-button {
    grid-area: button;
    margin: 10%;
   }

   &-map {
    grid-area: map;
    align-self: center;
   }
  }
}