.contacto__cont {
  max-width: $bpLarge;
  width: 90%;
  margin: 20px auto;
  background-color: $colorIntermedio;
  border-radius: 10px;
  padding-bottom: 20px;

  h2 {
    @include serif-titles ($colorClaro);
    text-align: left;
    background-color: $colorAzul;
    padding: 20px;
    border-radius: 10px 10px 0 0;
  }

  &-text {
    @include noserif-text ($colorAzul);
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: $colorGris;
  }

  &-form {
    color: $colorClaro;
    font-family: $noserifFont;
    padding-left: 40px;

    .form-control {
      background-color: transparent;
      border: none;
      border-bottom: 1px $colorClaro solid;
      border-radius: 0;
      width: fit-content;
    }

    #caja-de-texto {
      border-bottom: none;
      border: 1px $colorClaro solid;
      border-radius: 5px;
      width: 90%;
    }
  }

  a {
    @extend .button-send;
    background-color: $colorClaro;
    color: $colorAzul;
    text-align: center;
  }
}

@media screen and (min-width: $bpMedium) {
  .contacto__cont {
  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "contacto contacto" 
    "text form";

    h2 {
      grid-area: contacto;
    }
    
    &-text {
      max-width: 400px;
      grid-area: text;
      text-align: center;
      padding: 40px;
    }

    &-form {
      grid-area: form;
    }
  }  

}