.pStyle {
  @include noserif-oblique ($colorAzul);
  font-size: 18px;
  margin: 3%;
}

img {
  width: 100%;
}

.frases-inicio {
  @include noserif-oblique ($colorAzul);
  margin: 20px auto 20px auto;
}

.main-img-desktop {
  display: none;
}

.gallery__inicio {
  display: none;
}

.carousel {
  margin: 10px;

  &-control-prev-icon {
    filter: invert(108%);
  }

  &-control-next-icon {
    filter: invert(108%);
  }

  .img-carousel-style {
    border-radius: 10px;
  }
}

.mosaico__img {
  display: none;
}

.mosaico-texto {
  @include serif-titles ($colorBeige);
  width: 75%;
  margin: auto;
}

@media  screen and (min-width: $bpMedium) {
  .desktop-mobile {
    display: none;
  }

  .pStyle {
    font-size: 23px;
    margin: 20px auto;
  }

  .main-img-desktop {
    display: contents;
  }

  .contImg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../assets/images/mainimage.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
  }

  .grid__text {
    @include noserif-oblique (white);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "div1 p1"
    "p2 div2";

    &-title {
      font-size: 25px;
    }

    &-div1 { 
      grid-area: p2;
      margin: auto auto 60px 40px;
    }

    &-div2 { 
      grid-area: p1;
      margin: 60px 40px auto auto;
    }
  }
}

@media screen and (min-width:$bpMedium2) {
  .carousel {
    display: none;
  }
  .mosaico__img {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "img1 img2 text"
    "img3 img3 text";
    margin: 30px auto;
    gap: 20px;
    width: 85%;

    img {
      border-radius: 5px;
    }

    img:hover {
      filter: grayscale(80%);
    }

    .imgindex-1 {
      grid-area: img1;
      width: 100%;
      height: auto;
    }
  
    .imgindex-2 {
      grid-area: img2;
      width: 100%;
      height: auto;
    }
  
    .imgindex-3 {
      grid-area: img3;
      width: 100%;
      height: auto;
    }
  }

  .mosaico-texto {
    @include serif-titles ($colorAzul);
    grid-area: text;
    margin: auto;
  }

}