.listado__menu {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 450px;
  color: black;
  padding: 20px;
  border-bottom: $lineadiv;
  margin: 20px auto;

  h3 {
  font-family: $serifFont;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  color: $colorAzul;
  }

  p {
    font-family: karla;
    text-align: center;
  }

  &-item {
    padding:  5px 30px;

    &-display {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;  

      &-name {
        font-family: $noserifFont;
        text-align: left;
      }

      &-name:hover {
        text-decoration: underline;
      }

      &-price {
        font-family: karla;
        text-align: right;
        font-size: 20px;
      }
    }

    &-descrip {
      padding-left: 10px;
      font-family: $noserifFont;
      font-style: italic;
    }
  }

  &-divimg {
    border-radius: 5px;
    
    p {
     border-radius: 0px 0px 5px 5px;
     background-color: $colorBeige;
     padding: 5px;
    }
  }
}

@media screen and (min-width: 900px) {

  .listado__menu {
    width: 800px;
    max-width: none;
  }
  
  .desktop__org {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas: 
    "title title"
    "drink1 img1"
    "img2 drink2";
    gap: 20px;

  
    h3 {
      grid-area: title;
    }

    &-drink1 {
      grid-area: drink1;
      margin: auto;
    }

    &-img1 {
      grid-area: img1;
    }

    &-drink2 {
      grid-area: drink2;
    }

    &-img2 {
      grid-area: img2;
    }

  }
}