// global
$serifFont: playfair;
$noserifFont: karla;

// breakpoints
$bpMedium: 700px;
$bpLarge: 1000px;


// paleta de colores
$colorClaro: #f7f7f7;
$colorAzul: #1d2444;
$colorBeige: #b19d68;
$colorIntermedio: #4f5776;
$colorGris: #F7F7E4;
$titulo: rgb(62, 55, 104);
