// global
$serifFont: playfair;
$noserifFont: karla;

// breakpoints
$bpMedium: 700px;
$bpMedium2: 850px;
$bpLarge: 1000px;

// paleta de colores
$colorClaro: #f7f7f7;
$colorAzul: #1d2444;
$colorBeige: #b19d68;
$colorIntermedio: #4f5776;
$colorGris: #F7F7E4;
$colorOscuro: rgb(1, 7, 25);

// linea divisora
$lineadiv: 2px $colorAzul solid;